<!doctype html>
<html>
	<head>
		<title> A単adir recetas </title>
		
		<!-- Importamos el estilo css -->
		<link rel="stylesheet" href="css/profile.css" /> 

	</head>

	<body>
		<div id="container">

			<% include menu_nav.html %>

			<div id="titulo">

				<h1> A単adir recetas </h1>

			</div>  <!-- Cierre del titulo -->

			<!-- Formulario para a単adir las recetas-->
			<form id="agregarForm" action="/agregarRecetas" method="post">

				<div class="nombre">
						<label> Nombre </label> <br />
						<input type="text" name="nombre">
				</div> <!-- Cierre del nombre-->

				<div class="ingredientes">
						<label> Ingredientes </label> <br />
						<input type="text" name="ingredientes">
				</div> <!-- Cierre del ingredientes-->

				<button type="submit"> A単adir </button>

			</form> <!-- Cierre del formulario -->

		</div> <!-- Cierre del container -->
	</body>
</html>