<!doctype html>
<html>
	<head>
		<title> Buscar receta </title>
		
		<!-- Importamos el estilo css -->
		<link rel="stylesheet" href="css/profile.css" /> 

	</head>

	<body>
		<div id="container">

			<% include menu_nav.html %>

			<div id="titulo">

				<h1> Receta a modificar </h1>

			</div>  <!-- Cierre del titulo -->
			

			<!-- Formulario para modificar la receta-->
			<form id="buscarForm" action="/modificarRecetas" method="post">

				<div class="nombre">
						<label> Nombre </label> <br />
						<input type="text" name="nombre">
				</div> <!-- Cierre del nombre-->


				<button type="submit"> Buscar </button>

			</form> <!-- Cierre del formulario modificarRecetas -->

		</div> <!-- Cierre del container -->
	</body>
</html>