<!doctype html>
<html>
	<head>

		<meta charset="utf8" />
		<title> FoodJoy</title>

		<!-- Importamos el estilo css -->
		<link rel="stylesheet" href="css/main.css" /> 

	</head>

	<body>

				
				<div class="columna" id="error">

					<h1> ¡¡HA OCURRIDO UN ERROR!! </h1>
					<h2><%= mensaje %></h2>

					<form action="/" method="get">

						<button type="submit">Volver a Inicio</button>

					</form>


				</div> 
				

	</body>
</html>
