<nav id="menu_nav">

	<a href="/admin"> <img src="../img/inicio-icon.png" width="15" height="15"> Inicio </a>

	<a href="/admin/usuarios"> <img src="../img/user-icon.png" width="15" height="15"> Usuarios </a>

	<a href="/admin/recetas"> <img src="../img/recetas-icon.png" width="16" height="16"> Recetas </a>

	<a href="/logout" style="float:right;"><img src="../img/logout-icon.png" width="17" height="17">Logout </a>

	<a href="/" style="float:right;"><img src="../img/foodjoy-icon.png" width="17" height="17"> FoodJoy </a>

</nav> <!-- Cierre del menu nav-->