<!doctype html>
<html>
	<head>
		<title> Receta añadida </title>
		
		<!-- Importamos el estilo css -->
		<link rel="stylesheet" href="css/profile.css" /> 
		
	</head>

	<body>
		<div id="container">

			<% include menu_nav.html %>

			<div id="titulo">

				<h1> Receta añadida</h1>

			</div>  <!-- Cierre del titulo -->

			<div id="info">

				<!-- MENSAEJE DE LA RECETA -->
				<p> <strong> <%= receta %> </strong>  <%= msg %> </p>

			</div> <!-- Cierre del mensaje-->

		</div> <!-- Cierre del container -->
	</body>
</html>