<!doctype html>
<html>
	<head>

		<meta charset="utf8" />
		<title> Usuarios </title>

		<!-- Importamos el estilo css -->
		<link rel="stylesheet" href="../css/admin.css" /> 

	</head>

	<body>

		<div id="container">

			<% include menu_navAdmin.html %>

			<div id="info">

				<strong>Número de usuarios: </strong> <%= usuarios %> <br /><br />

				<!-- Mostrar una tabla de usuario, sólo el campo email -->
				<table border="1">

					<tr>
					 <td><strong> id </strong></td>
					 <td><strong> Nombre </strong></td>
					 <td><strong> Contraseña </strong></td>
					</tr>


					<% for(var i = 0; i<usuario.length; i++){ %>
					<tr>
						<td><%= usuario[i]._id %></td>
						<td><%= usuario[i].local.email %></td>
						<td><%= usuario[i].local.password %></td>
					<% } %>
					</tr>

				</table>

			</div>

			<!-- Formulario para borrar usuarios-->
			<form action="/borrarUsuarios" method="post">

				<h3> Eliminar usuarios </h3>

				<div class="id">
						<label> Introduzca el <strong>id</strong>: </label> <br />
						<input type="text" name="id">
				</div> <!-- Cierre del id-->


				<button type="submit"> Eliminar </button>

			</form> <!-- Cierre del formulario borrarUsuario -->

		</div> <!-- Cierre del div container -->

	</body>
</html>