<!doctype html>
<html>
	<head>

		<meta charset="utf8" />
		<title> Usuario borrado </title>

		<!-- Importamos el estilo css -->
		<link rel="stylesheet" href="../css/admin.css" /> 

	</head>

	<body>

		<div id="container">

			<% include menu_navAdmin.html %>

			<div id="titulo">

				<h1> Usuario borrado </h1>

			</div>  <!-- Cierre del titulo -->

			<div id="info">

				<!-- MENSAJE -->
				<p> <strong> <%= usuario %> </strong>  <%= msg %> </p>


			</div> <!-- Cierre del div info -->

		</div> <!-- Cierre del div container -->

	</body>
</html>