<!DOCTYPE html>
<html lang="es">
<head>
	<title>Registro</title>
	<meta name="robots" content="noindex, nofollow">
	
	<!-- Include CSS File Here -->
	<link rel="stylesheet" href="css/style.css"/>
	<!-- Include JS File Here -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/registro.js"></script>
</head>
<body>
	<div class="container">
		<div class="main">
			<form class="form" method="post" action="#">
				<h2>Registrate</h2>
				
				<div><label>Usuario:</label>
				<input type="text" name="duser" id="usuario" value=""> 
				</div>
				<div><label id="lusu"> </label></div>
			</br>
				<div><label>Password:</label>
				<input type="password" name="password" id="pass" value=""></div>
				<div><label id="lpass"> </label></div>
			</br>
				<div><label>Confirmar Password:</label>
				<input type="password" name="cpassword" id="cpass" value=""></div>
				<div><label id="lcpass"> </label></div>
			</br>
				<div><label>Nombre:</label>
				<input type="text" name="dname" id="nombre" value=""></div>
				<div><label id="lnom"> </label></div>
			</br>
				<div><label>Apellido:</label>
				<input type="text" name="dsurname" id="apellido" value=""></div>
				<div><label id="lape"> </label></div>
			</br>
				<div><label>Ciudad:</label>
				<input type="text" name="dciudad" id="ciudad" value=""></div>
				<div><label id="lciu"> </label></div>
			</br>
				<div><label>Email:</label>
				<input type="text" name="demail" id="email" value=""></div>
				<div><label id="lema"> </label></div>
			</br>
				<div><label>¿Eres dueño de algun recinto?:</label>
				<input type="checkbox" name="dDueno" id="dueno" value=""></div>
			</br>	
				<div><label>Direccion recinto:</label>
				<input type="text" name="dDireccion" id="direccion" value=""></div>
				<div><label id="ldir"> </label></div>
			</br>
				<div><label>Nombre recinto:</label>
				<input type="text" name="dnombrerec" id="nombreRecinto" value=""></div>
				<div><label id="lnomrec"> </label></div>
			</br>
				<div><label>Descripción:</label>
				<textarea type="text" name="ddescripcion" id="descripcion" value=""></textarea></div>
				<div><label id="ldesc"> </label></div>
			</br>
				<div><input type="button" name="register" id="registro" value="Registrar"></div>
			</form>
		</div>
	</div>
</body>
</html>

