* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

html {
      background: url("/img/fondo.png") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      }

header{
      display: block;;
      height: auto;
      text-align: center;
      margin-top: 50px;
    }

header img{
      padding: 20px;
      width: 40%;
      min-width: 300px;
      
}

body {
    font-family: sans-serif;
    display: -webkit-linear;
}

#login {

  	-webkit-animation: login 1s ease-in-out;
    -moz-animation: login 1s ease-in-out;
    -ms-animation: login 1s ease-in-out;
    -o-animation: login 1s ease-in-out;
    animation: login 1s ease-in-out;
    width: 220px;
    height: 155px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -110px;
    margin-top: -75px;
}

/*********************REGISTRO***********************/
#formRegistro{
    -webkit-animation: login 1s ease-in-out;
    -moz-animation: login 1s ease-in-out;
    -ms-animation: login 1s ease-in-out;
    -o-animation: login 1s ease-in-out;
    animation: login 1s ease-in-out;
    width: 30%;
    min-width: 280px; 
    height: 155px;
    position: absolute;
    left: 42%;
    top: 50%;
    margin-left: -110px;
    margin-top: -75px;
}

#formRegistro input[type="email"] {
    opacity: 0.65;
    width: 100%;
    padding: 3px;
    height: 30px;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    border: 1px solid #ffffff;
 
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 2px;
}


#formRegistro input[type="password"] {
    opacity: 0.65;
    width: 100%;
    padding: 3px;
    height: 30px;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    border: 1px solid #ffffff;
    margin-top: 20px;
 
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 2px;
}

#formRegistro input[type="submit"] {
  opacity: 0.7;
    width: 40%;
    height: 30px;
    margin-top: 40px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    border: 1px solid #00CC99;
    float: left;
 

    border-radius: 100px;
 
    background-color: #00CC99;
    cursor: pointer;
}

#formRegistro input[type="submit"]:hover {
    opacity: 1;
}


#formRegistro input[type="reset"] {
  opacity: 0.7;
    width: 40%;
    height: 30px;
    margin-top: 40px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    border: 1px solid #00CC99;
    float: right;
 
 
    border-radius: 100px;
 
    background-color: #00CC99;
    cursor: pointer;
}

#formRegistro input[type="reset"]:hover {
    opacity: 1;
}

/********************USUARIO*****************************/
#login input[type="email"] {
    opacity: 0.65;
    width: 100%;
    padding: 3px;
    height: 50px;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    border: 1px solid #ffffff;
 
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 2px;
}

/********************Contra*****************************/
#login input[type="password"] {
  
    opacity: 0.65;
    width: 100%;
    padding: 3px;
    height: 50px;
    color: #000;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    border: 1px solid #ffffff;
 
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 2px;
}
 
 /*************BOTON****************************/

 #login input[type="submit"] {
  opacity: 0.8;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    border: 1px solid #00CC99;
 
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 100px;
 
    background-color: #00CC99;
 
    cursor: pointer;
     
    -webkit-box-shadow: inset 0px 1px 0px #00CC99;
    box-shadow: inset 0px 1px 0px #00CC99;
 
}

#login input[type="submit"]:hover {
    background-color: #00CC99;
 
    -webkit-box-shadow: inset 0px 1px 0px #00CC99;
    box-shadow: inset 0px 1px 0px #00CC99;
     
    margin-top: 10px;
}
 
#login input[type="submit"]:active {
    background-color: #00CC99;
 
    -webkit-box-shadow: inset 0px 1px 0px #00CC99;
    box-shadow: inset 0px 1px 0px #00CC99;
}


/***********************************6****************************/

.placeholder {
    color: #444;
}

/***************************************************************/


/*PARA EL MOVIMIENTO DEL LOGIN AL CARGAR*/
@keyframes "login" {
 0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    margin-top: -50px;
 }
 100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    margin-top: -75px;
 }
 
}
 
@-moz-keyframes login {
 0% {
   filter: alpha(opacity=0);
   opacity: 0;
   margin-top: -50px;
 }
 100% {
   filter: alpha(opacity=100);
   opacity: 1;
   margin-top: -75px;
 }
 
}
 
@-webkit-keyframes "login" {
 0% {
   filter: alpha(opacity=0);
   opacity: 0;
   margin-top: -50px;
 }
 100% {
   filter: alpha(opacity=100);
   opacity: 1;
   margin-top: -75px;
 }
 
}
 
@-ms-keyframes "login" {
 0% {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   margin-top: -50px;
 }
 100% {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   margin-top: -75px;
 }
 
}
 
@-o-keyframes "login" {
 0% {
   filter: alpha(opacity=0);
   opacity: 0;
   margin-top: -50px;
 }
 100% {
   filter: alpha(opacity=100);
   opacity: 1;
   margin-top: -75px;
 }
 
}
/*/////////////////////////////////////////////////*/

#registro{
  clear: both;
  margin-top: 300px;
  padding: 50px;
 float: left;
 position: absolute;
 width: 250px;
 border-color: red;

}

#registro button{
  font-size: 18px;
  height: 42px;
  font-weight: bold;
  min-width: 200px;
  font-size: 16px;
  background-color: transparent;
  border-style: solid;
  border-color: #00CC99;
  border-width:2px;
  border-radius: 30px;
  color: #00CC99;
  cursor: pointer;

}
#atras{
  clear: both;
  margin-top: 300px;
  padding: 50px;
 float: left;
 position: absolute;
 width: 250px;
 border-color: red;

}

#atras button{
  font-size: 18px;
  height: 42px;
  font-weight: bold;
  min-width: 200px;
  font-size: 16px;
  background-color: transparent;
  border-style: solid;
  border-color: #00CC99;
  border-width:2px;
  border-radius: 30px;
  color: #00CC99;
  cursor: pointer;

}