<!DOCTYPE html>
<html>
<head>
    <title>Administrador</title>
    <link rel="stylesheet" type="text/css" href="css/css.css">
    <script type="text/javascript" src="js/registro.js"></script>
</head>
<body background="/img/images/conciertos.png" no-repeat center center fixed>

    <!--MENU RESPONSIVE-->
    <nav class="clearfix">

    <!--Logo-->
        <div id="logo">
            <img href="/inicio" src="img/logotxiki.png" />
        </div>

        <div id="buscador">
             <form method="get" action="/search" id="search">
                <input name="q" type="text" size="40" placeholder="Search..." />
            </form>
        </div>

        <ul class="clearfix" id="botoiak">
            <li><a href="goanadir">Añadir</a></li>
            <li><a href="gomodificar">Modificar</a></li>
            <li><a href="golistar">Listar</a></li>
            <li><a href="goborrar">Borrar</a></li>
            <li  id="buscador2">
                <div>
                 <form method="get" action="/search" id="search">
                  <input name="q" type="text" size="40" placeholder="Search..." />
                 </form>
                </div>    
            </li>

        </ul>
        <a href="#" id="pull"><img src="img/logotxiki.png" /></a>
        <!--Buscador-->
        
        <!--Final buscador-->
    </nav>
    <!--final menu-->
    <div id="formDiv">
        <form class="formAnadir" action="/anadir" method="post">
          <p>
            <input type="text" id="fecha" name="fecha" required="required" placeholder="Introduce la fecha"/><br />
            <br />
            <input type="text" id="hora" name="hora" required="required" placeholder="Introduce la hora"/><br />
            <br />
            <input type="text" id="precio" name="precio" required="required" placeholder="Introduce el precio"/><br />
            <br />
            <input type="text" id="descripcion" name="descripcion" required="required" placeholder="Introduce la descripcion"/><br />
            <br />
            <input type="text" id="localizacion" name="localizacion" required="required" placeholder="Introduce la localizacion"/><br />
            <br />
            <input type="submit" value="Añadir" />
          </p>
        </form> 
    </div>  


    
</body>
</html>