<!DOCTYPE html>
<html>
<head>
    <title>Listas</title>
    <link rel="stylesheet" type="text/css" href="css/css.css">
</head>
<body background="/img/images/localidades.jpg" no-repeat center center fixed>

	<!--MENU RESPONSIVE-->
    <nav class="clearfix">

    <!--Logo-->
        <div id="logo">
            <img href="/inicio" src="img/logotxiki.png" />
        </div>

        <div id="buscador">
             <form method="get" action="/search" id="search">
                <input name="q" type="text" size="40" placeholder="Search..." />
            </form>
        </div>

        <ul class="clearfix" id="botoiak">
            <li><a href="/inicio">Novedades</a></li>
            <li><a href="artistas">Artistas</a></li>
            <li><a href="localidades">Localidades</a></li>
            <li><a href="#">Perfil</a></li>
            <li  id="buscador2">
                <div>
                 <form method="get" action="/search" id="search">
                  <input name="q" type="text" size="40" placeholder="Search..." />
                 </form>
                </div>    
            </li>

        </ul>
        <a href="#" id="pull"><img src="img/logotxiki.png" /></a>
        <!--Buscador-->
        
        <!--Final buscador-->
    </nav>
    <!--final menu-->


    <div class="lista">
            {{#if artista}} 
            {{#each artista}}
            <h2>{{nombre}}</h2>
            {{/each}}
        {{/if}}
        {{#if localidades}} 
            {{#each localidades}}
            <h2>{{localizacion}}</h2>
            {{/each}}
        {{/if}}
    </div>
</body>
</html>