*{
	margin: 0px;
	padding: 0px;
}
h1{
	text-align: center;
}
/**/
html { 
  background: url("../images/fondo1.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
	width: 100%;
	display: -webkit-box;
	-webkit-box-pack: center;
}
#main{
	max-width: 1000px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-flex: 1;
	padding-top: 10px;
	padding-right: 10%;
	padding-left: 10%;
	padding-bottom: 10px;
	margin: 20px;
}
div.logo{
	padding: 15px;
	content:url("../images/logo.png");	
}
#log{
	-webkit-border-radius: 20px 15.5px;
	background: rgba(10, 10, 42, 0.8);
	max-width: 1000px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-flex: 1;
	padding: 30px;
	margin-left:6%;
	margin-right:4%;
}
#register{
	-webkit-border-radius: 20px 15.5px;
	background: rgba(10, 10, 42, 0.8);
	max-width: 1000px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-flex: 1;
	padding: 30px;
	margin-left:6%;
	margin-right:4%;
}
#centro{
	padding: 15px;
	padding-bottom: 35px;
	display:-webkit-box;
	-webkit-box-orient:horizontal;
}
#middle{
	padding: 30px;
	padding-bottom: 80px;
	display:-webkit-box;
	-webkit-box-orient:horizontal;
}
#the_footer{
	clear: both;
	text-align: center;
	padding: 20px;
	color: grey;
}
.buttons {
	margin-right:10px;
	background: #grey;
	padding: 6.2px;
	padding-left: 14px;
	padding-right: 14px;
	-webkit-border-radius: 20px 15.5px;
	border: 1px solid grey;
	font: 14px sans-serif;
}
.buttons:hover{
	opacity:1;
	background:#A4A4A4;
	outline: none;
	cursor: pointer;
}
.txtarea{
	-webkit-border-radius: 20px 15.5px;
	border: 1px solid grey;
	outline: none;
	margin: 6px;
	margin-left:8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 85%;
}
label{
	font: 14px sans-serif;
	color: grey;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}
#olvidar{
	font: 9px sans-serif;
	text-align: right;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}
.olvidar{
	color: grey;
}
