body {
	margin-top: 49px;
	padding: 0;
	background: #F2EFFB;
	color: #BBBBBB;
}
h1, h2 {
	font:sans-serif;
	margin: 0;
	font-weight: normal;
	color: #6A0888;
}
h1 {
	letter-spacing: -1px;
	font-size: 32px;
}
h2 {
	font-size: 23px;
}
h3{
	font: 18px sans-serif;
	color: grey;
}
a:link {
	color: #48ACDE;
}
a:hover, a:active {
	text-decoration: none;
	color: #48ACDE;
}
a:visited {
	color: #48ACDE;
}
/** LOGO */
#logo-wrap{
	margin:20px;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
}
#logo {
	height: 60px;
	-webkit-box-flex:3;
}
#logo h1, #logo h2 {
	float: left;
	padding: 0 0 0 20px;
	line-height: normal;
}
#logo h1 { 
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:36px;
	font-style: italic;
}
#logo h2 {
	padding: 20px 0 0 5px;
	font: italic 13px Georgia, "Times New Roman", Times, serif;
	color: ##48ACDE;
}
/** RELOJ */
#clockbox{
	-webkit-box-flex:10;
	text-align:right;
	margin-top:30px;
}
/* Menu */
#barra_menu {
	float: left;
	width: 60%;
	height: 100%;
	padding: 10px;
	padding-left: 20px;
	border:1px;
	-webkit-border-radius: 6px 6px;
}
#barra_menu ul {
	margin: 0;
	padding: 5px 0 0 0px;
	list-style: none;
	line-height: normal;
}
#barra_menu li {
	display: block;
	float: left;
}
#barra_menu a {
	display: block;
	float: left;
	margin-right: 3px;
	padding: 10px 20px;
	text-decoration: none;
	font: 14.2px sans-serif;
	color: grey;
}
#barra_menu a:hover { 
	text-decoration: none; 
	color: #48ACDE;
}
#barra_menu .current_page_item a {
	color: #48ACDE;
}
/** SUB MENU*/
#sub_barra_menu{
	margin-top:20%
}
#sub_barra_menu li{
	list-style: none;
}
/** SEARCH */
fieldset{
	-webkit-border-radius: 6px 6px;
}
#searchform {
	padding: 12px;
}
#search h3 {
	width: 50%;
	margin-left: 15px;
	margin-bottom: -3px;
}
#search #btn {
	float: right;
	-webkit-border-radius: 6px 6px;
	border: 1px solid grey;
	cursor: pointer;
	width: 30%;
	padding: 3px;
	margin-top: 3px;
}
#search #txt {
	margin-top: 3px;
	padding: 3px;
	width: 60%;
}
#search br {
}
/** CONTENIDO */
#contenido{
	float: right;
	margin: 10px;
	padding: 10px;
	background: grey;
	width: 62%;
	height: 50%;
	min-width:10%;
	-webkit-border-radius: 6px 6px;
}
#contenido li{
	width:40%;
	margin: 15px;
	margin-left: 25px;
	list-style: none;
}
#contenido li p{
	margin: 15px;
	margin-left: 25px;
}
#contenido li ul li a{
	text-decoration:none;
	color: black;
}
#centro{
	-webkit-box-flex:1;
}
#contenido li ul li {
	width:100%;
}
#contenido h3{
	font: 16px sans-serif;
	color: black;
}
/** CALENDARIO */
#calendario{
	margin: 10px;
	padding: 5px;
	padding-top: 30px;
}
#lateral {
	float: left;
	margin: 10px;
	width: 30%;
	margin-bottom:30px;
	background: black;
	-webkit-border-radius: 6px 6px;
}
#lateral > ul {
	margin: 5px;
	padding: 5px;
	list-style: none;
}
iframe{
	-webkit-border-radius: 6px 6px;
}
/** Cuerpo */
#contenido{
	padding-bottom:30px;
}
#img-perfil{
	content:url("../images/img200x200.jpg");	
}
#marco{
	margin:2%;
	padding:3%;
}
#nuevo{
margin-top:-1.5%;
	float:right;
}
#actual{
	float:left
}
#formulario{
	margin-left:5%
}
