/* ************************************************************************************************
											Selector UNIVERSAL
************************************************************************************************ */

*{

	margin: 0px;
	padding: 0px;

}


/* ************************************************************************************************
											Selectores por TIPO
************************************************************************************************ */

h3{
	margin-bottom: 10px;

}

form{

	margin-left: 50px;
	padding: 10px;

}

input {

	width: 300px;
	margin-top: 10px;
	margin-bottom: 10px;
	
}

td{
	text-align: center;
}

/***********************************************************************************************
									   		Selectores por CLASE 
***********************************************************************************************/


/* ************************************************************************************************
											Selectores por ID
************************************************************************************************ */

#menu_nav{

	background-color: black;
	padding: 2px;

}

#menu_nav a{

	text-decoration: none;
	color: white;
	margin-left: 15px;
}

#menu_nav a:hover{

	color: #A5DF00;

}

#titulo{

	/*border: 2px solid pink;*/
	display: -webkit-box; /* Chrome*/
	-webkit-box-pack: center;

}

#info{

	margin-left: 50px;
	padding: 10px;
}