/* ************************************************************************************************
											Selector UNIVERSAL
************************************************************************************************ */

*{

	margin: 0px;
	padding: 0px;

}

/* ************************************************************************************************
											Selectores por TIPO
************************************************************************************************ */
body{
	
	width: 100%; /* Para que ocupe toda la pantalla */

}

h3{
	margin-bottom: 10px;

}

a{
	color: black;
	text-decoration: none;

}

form{

	margin-left: 50px;
	padding: 10px;

}

input {

	width: 200px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px 10px; /* Para ovalar */
	
}

button{

	color: black;
	background-color: #D8F781;
	border-color: #AEB404;
	border-radius: 4px; /* Para ovalar */
	padding: 6px 12px;
	font-size: 14px;

}






/***********************************************************************************************
									   		Selectores por CLASE 
***********************************************************************************************/
.container{

	/*border: 3px solid red;*/
	margin: 0px;
	width: 100%;
	
}

.seccion{

	/*border: 2px solid black;*/
	margin-top: 40px;

}

.columna{

	/*border: 2px solid red;*/
	float: left;
	width: 32%;
	margin: 0px;
	text-align: center;

}

.nombre{

	/*border: 1px solid red;*/
	margin-bottom: 10px;

}

.ingredientes{

	/*border: 1px solid red;*/
	margin-bottom: 10px;

}


/* ************************************************************************************************
											Selectores por ID
************************************************************************************************ */

#container{

	/*border: 3px solid red;*/
}

#menu_nav{

	/*border: 2px solid green;*/
	height: 20px;
	background-color: #ACFA58;
	text-align: right;
	padding: 5px;
	/*position: fixed;*/
}


#menu_nav a:hover{

	color: #088A4B;

}

#titulo{

	/*border: 2px solid pink;*/
	display: -webkit-box; /* Chrome*/
	-webkit-box-pack: center;

}

#user{

	/*border: 2px solid pink;*/
	display: -webkit-box; /* Chrome*/
	-webkit-box-pack: center;

}

#bloque{

	border: 3px solid black;
	display: -webkit-box; /* Chrome*/
	-webkit-box-orient: horizontal; /* orientación horizontal*/
	-webkit-box-pack: center;
	margin-top: 40px;

}

#agregarForm, #buscarForm, #borrarForm, #modificarForm, #infoRecetas{

	display: -webkit-box; /* Chrome*/
	-webkit-box-align: center;
	-webkit-box-orient: vertical; /* orientación vertical*/
	margin-top: 40px;

}

#info{

	display: -webkit-box; /* Chrome*/
	-webkit-box-align: center;
	-webkit-box-orient: vertical; /* orientación vertical*/
	margin-top: 40px;
}





/*Cuando la anchura de la ventana contenga como máximo 800px */
@media all and (max-width:800px){

	.columna{

		width:100%;
		margin-top: 30px;
	}

	.seccion{

		margin-left: 0px;
		margin-top: 0px;

	}

}